syntax: glob
ebin/*
*.beam
_build
ebin/*.beam
ebin/*.app
.eunit/
.rebar/
rebar
deps/
_rel/
erl_crash.dump
.edts
eunit.coverage.xml
c_src/img.d
c_src/img
*[#]*[#]
*[#]*
*.o
*.beam
*.plt
tests/.env
tests/.idea
tests/__pycache__
tests/.pytest_cache
*.py[cod]
*.orig
.venv
.env
tests/.venv
tests/output
