{erl_opts, [
    debug_info,
    {parse_transform, lager_transform},
    report,
    verbose,
    warn_unused_vars,
    warn_shadow_vars,
    warn_deprecated_function,
    warn_deprecated_type,
    warn_export_all,
    warn_export_vars,
    warn_obsolete_guard,
    warn_unused_import,
    warn_unused_function,
    warn_bif_clash,
    warn_unused_record,
    warn_exported_vars,
    strict_validation
]}.
{deps, [
    {cowboy, "2.9.0"},
    {erlydtl, {git, "https://github.com/erlydtl/erlydtl", {tag, "0.14.0"}}},
    {jsx, {git, "https://github.com/talentdeficit/jsx", {tag, "v2.11.0"}}},
    {lager, {git, "https://github.com/erlang-lager/lager", {tag, "3.9.2"}}},
    {sqlite3, {git, "https://github.com/processone/erlang-sqlite3", {tag, "v1.1.6"}}}
]}.

{plugins, [
    {rebar3_erlydtl_plugin, ".*", {git, "https://github.com/tsloughter/rebar3_erlydtl_plugin.git", {branch, "master"}}}
]}.

{project_app_dirs, ["apps/*"]}.

{provider_hooks, [
    {pre, [{compile, {erlydtl, compile}}]}
]}.

{erlydtl_opts, [
    {doc_root, "apps/platonicray/templates"},
    {out_dir, "_build/default/lib/platonicray/ebin"},
    {source_ext, ".dtl"},
    {module_ext, "_dtl"},
    {compiler_options, [report, return, debug_info]},
    {verbose, true},
    {libraries, [{platonicray, dtl_tags}]}
]}.

{dialyzer, [
    {warnings, [unmatched_returns, error_handling, unknown]},
    {get_warnings, true},
    {plt_apps, top_level_deps},
    {plt_extra_apps, [erts, kernel, stdlib, syntax_tools, tools, xmerl, inets]}
]}.
{xref_checks, [undefined_function_calls, undefined_functions, locals_not_used]}.

{relx, [
    {release, {platonicray, "0.2.0"}, [
        common_lib,
        platonicray,
        img,
        video,
        xmerl,
        inets,
        crypto,
        ssl,
        public_key,
        lager,
        cowboy,
        cowlib,
        ranch,
        jsx,
        erlydtl,
        sqlite3,
        asn1,
        sasl,
        os_mon,
        runtime_tools
    ]},
    {extended_start_script, true},
    {mode, prod},
    {include_erts, true},
    {include_src, false},
    {sys_config, "config/sys.config"},
    {vm_args, "config/vm.args"}
]}.

{profiles, [
    {debug, [
        {erlydtl_opts, [
            {doc_root, "apps/platonicray/templates"},
            {out_dir, "_build/debug/lib/platonicray/ebin"},
            {source_ext, ".dtl"},
            {module_ext, "_dtl"},
            {compiler_options, [report, return, debug_info]},
            {verbose, true}
        ]}
    ]},
    {dev, [
        {relx, [
            {dev_mode, true},
            {include_erts, false}
        ]}
    ]},
    {prod, [
        {relx, [
            {dev_mode, false},
            {include_erts, true}
        ]}
    ]}
]}.