{erl_opts, [debug_info]}.

{deps, [
    {pc, "1.14.0"}
]}.

{plugins, [
    {pc, ".*", {git, "https://github.com/blt/port_compiler.git", {branch, "master"}}}
]}.

{provider_hooks, [
    {pre, [
        {compile, {pc, compile}},
        {clean, {pc, clean}}
    ]}
]}.

% Port compiler configuration
{port_specs, [{"priv/img", ["c_src/img.c"]}]}.

{port_env, [
    {"C_INCLUDE_PATH", "/usr/include/ImageMagick-6:/usr/include/x86_64-linux-gnu/ImageMagick-6"},
    {"LIBRARY_PATH", "/usr/include/ImageMagick-6"},
    {"CFLAGS", "`pkg-config --cflags MagickWand`"},
    {"LDFLAGS", "`pkg-config --libs MagickWand` -lpthread -lei"}
]}.
